<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> WeGlow Test </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <app-loading-button
    [isLoading]="isLoading"
    (clicked)="callApi()"
  ></app-loading-button>

  <div *ngIf="version" class="version-container">
    <ion-label class="ion-margin-bottom ion-margin-top"
      >Android: {{version.android}}</ion-label
    >
    <ion-label>iOS: {{version.ios}}</ion-label>
  </div>
</ion-content>
